<div class="product-card col">
    <div class="product-card__content card h-100">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card__img-top product-card__img" [alt]="product.name"/>
      <div class="card__body product-card__body">
        <h5 class="card__title product-card__title">{{ product.name }}</h5>
        <p class="card__text product-card__text">
          {{ product.description }}
        </p>
      </div>
      <div class="card__footer product-card__footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
