<div class="server-error">
    <mat-card class="server-error__card">
      <mat-card-header>
        <mat-card-title>
          <h1 class="server-error__title">500</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="server-error__content-container">
        <p class="server-error__content">Server Error</p>
      </mat-card-content>
      <mat-card-actions class="server-error__actions">
        <button mat-raised-button color="primary" routerLink="/">Go Home</button>
      </mat-card-actions>
    </mat-card>
  </div>
  